﻿@page
@model IWG.Heimdall.WebUI.Pages.WorkPlace.DetailsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Workplace</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workplace.WorkplaceExternalIdentifier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Workplace.WorkplaceExternalIdentifier)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workplace.CentreName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Workplace.CentreName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workplace.Address1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Workplace.Address1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workplace.Address2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Workplace.Address2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workplace.Address3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Workplace.Address3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workplace.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Workplace.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workplace.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Workplace.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workplace.Zip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Workplace.Zip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workplace.CountryID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Workplace.CountryID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workplace.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Workplace.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workplace.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Workplace.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workplace.LastModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Workplace.LastModified)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workplace.LastModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Workplace.LastModifiedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Workplace.WorkplaceIdentifier">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>
</html>
