﻿@page
@model IWG.Heimdall.WebUI.Pages.WorkPlace.EditModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Workplace</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Workplace.WorkplaceIdentifier" />
            <div class="form-group">
                <label asp-for="Workplace.WorkplaceExternalIdentifier" class="control-label"></label>
                <input asp-for="Workplace.WorkplaceExternalIdentifier" class="form-control" />
                <span asp-validation-for="Workplace.WorkplaceExternalIdentifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workplace.CentreName" class="control-label"></label>
                <input asp-for="Workplace.CentreName" class="form-control" />
                <span asp-validation-for="Workplace.CentreName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workplace.Address1" class="control-label"></label>
                <input asp-for="Workplace.Address1" class="form-control" />
                <span asp-validation-for="Workplace.Address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workplace.Address2" class="control-label"></label>
                <input asp-for="Workplace.Address2" class="form-control" />
                <span asp-validation-for="Workplace.Address2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workplace.Address3" class="control-label"></label>
                <input asp-for="Workplace.Address3" class="form-control" />
                <span asp-validation-for="Workplace.Address3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workplace.City" class="control-label"></label>
                <input asp-for="Workplace.City" class="form-control" />
                <span asp-validation-for="Workplace.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workplace.State" class="control-label"></label>
                <input asp-for="Workplace.State" class="form-control" />
                <span asp-validation-for="Workplace.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workplace.Zip" class="control-label"></label>
                <input asp-for="Workplace.Zip" class="form-control" />
                <span asp-validation-for="Workplace.Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workplace.CountryID" class="control-label"></label>
                <input asp-for="Workplace.CountryID" class="form-control" />
                <span asp-validation-for="Workplace.CountryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workplace.Created" class="control-label"></label>
                <input asp-for="Workplace.Created" class="form-control" />
                <span asp-validation-for="Workplace.Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workplace.CreatedBy" class="control-label"></label>
                <input asp-for="Workplace.CreatedBy" class="form-control" />
                <span asp-validation-for="Workplace.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workplace.LastModified" class="control-label"></label>
                <input asp-for="Workplace.LastModified" class="form-control" />
                <span asp-validation-for="Workplace.LastModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workplace.LastModifiedBy" class="control-label"></label>
                <input asp-for="Workplace.LastModifiedBy" class="form-control" />
                <span asp-validation-for="Workplace.LastModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
