﻿@page
@model IWG.Heimdall.WebUI.Pages.WorkPlace.IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Workplace[0].WorkplaceExternalIdentifier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workplace[0].CentreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workplace[0].Address1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workplace[0].Address2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workplace[0].Address3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workplace[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workplace[0].State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workplace[0].Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workplace[0].CountryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workplace[0].Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workplace[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workplace[0].LastModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workplace[0].LastModifiedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Workplace) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkplaceExternalIdentifier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CentreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedBy)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.WorkplaceIdentifier">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.WorkplaceIdentifier">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.WorkplaceIdentifier">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
